{% extends "basebbs_logined.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/bbs_index.css">
<link rel="stylesheet" href="/static/css/bbs_logined_index.css">
{% endblock %}
{% block content %}
<div class="tong-inner-content tong-box">
    <div class="tong-index-tabs">
        <div class="tong-index-tab tong-left tong-box">
            技术
        </div>
        <div class="tong-index-tab tong-left tong-box">
            创意
        </div>
        <div class="tong-index-tab tong-left tong-box">
            酷工作
        </div>
    </div>
    <div class="tong-index-nodes">
        {% for n in node_list %}
        <a class="tong-index-node tong-box" href="{{ url_for('node.show', id=n.id) }}">{{ n.name }}</a>
        {% endfor %}
    </div>
    {% for t in topic_list %}
    <div class="tong-block">
        <img class="tong-avatar tong-left tong-box" src="{{t.user_t.avatar}}">
        <div class="tong-block-content">
            <a class="tong-title" href="{{ url_for('topic.show', id=t.id) }}">{{ t.title }}</a>
            <div>{{ 评论数 }}</div>
            <div>
                <a class="tong-content-node tong-box" href="{{url_for('node.show', id=t.node.id)}}">{{ t.node.name }}</a>
                <span>  •  </span>
                <span>{{ t.user_t.username }}</span>
                <span>  • {{ t.created_time }}</span>
            </div>
        </div>
    </div>
    {% endfor %}
 </div>
{% endblock %}





